<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <p><a href="https://www.instagram.com/ed_robotics"><i class="fa fa-instagram" style="font-size:4em"></i></p>
    </section>
</section>
